In [ ]:
n = int(input("kaç sayı gireceksiniz?"))
küme= set()
a=1
while a<=n:
  yeni=int(input("yeni rakamı giriniz"))
  küme.add(yeni)
  a=a+1
Hadi=list(küme)
maximum=Hadi[0]
for x in Hadi:
    if x > maximum:
        maximum = x
text= "The largest number is: {}".format(maximum)  
print(text)

kaç sayı gireceksiniz?9
yeni rakamı giriniz5
yeni rakamı giriniz1
yeni rakamı giriniz0
yeni rakamı giriniz9
yeni rakamı giriniz4
yeni rakamı giriniz8
yeni rakamı giriniz6
yeni rakamı giriniz1
yeni rakamı giriniz3
The largest number is: 9

In [ ]:
class Solution:
   def groupAnagrams(self, strs):
      result = {}
      for i in strs:
         x = "".join(sorted(i))
         if x in result:
            result[x].append(i)
         else:
            result[x] = [i]
      return list(result.values())
ob1 = Solution()
print(ob1.groupAnagrams(["eat", "tea", "tan", "ate", "nat", "bat"]))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
print("iki rakam giriniz")
küme= set()
a=1
while a<=2:
  yeni=int(input("yeni rakamı giriniz"))
  küme.add(yeni)
  a=a+1
Hadi=list(küme)
maximum=Hadi[0]
for x in Hadi:
    if x > maximum:
        maximum = x
text= "The largest number is: {}".format(maximum)  
print(text)

iki rakam giriniz
yeni rakamı giriniz5
yeni rakamı giriniz6
The largest number is: 6

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
output=[]
fruit_tuple_0 = (fruits[0], quantities[0], prices[0])
output.append(output)
fruit_tuple_1 = (fruits[1], quantities[1], prices[1])
output.append(output)
fruit_tuple_2 = (fruits[2], quantities[2], prices[2])
output.append(output)
print(fruit_tuple_0, fruit_tuple_1, fruit_tuple_2)

('Apples', 5, 1.5) ('Oranges', 3, 2.25) ('Bananas', 4, 0.89)

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
  temp_qty = quantities[i]
  temp_price = prices[i]
  output.append((fruit, temp_qty, temp_price))
  i += 1
print(output)

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
  for qty in quantities:
    for price in prices:
      output.append((fruit, qty, price))
      i += 1
print(output)

[('Apples', 5, 1.5), ('Apples', 5, 2.25), ('Apples', 5, 0.89), ('Apples', 3, 1.5), ('Apples', 3, 2.25), ('Apples', 3, 0.89), ('Apples', 4, 1.5), ('Apples', 4, 2.25), ('Apples', 4, 0.89), ('Oranges', 5, 1.5), ('Oranges', 5, 2.25), ('Oranges', 5, 0.89), ('Oranges', 3, 1.5), ('Oranges', 3, 2.25), ('Oranges', 3, 0.89), ('Oranges', 4, 1.5), ('Oranges', 4, 2.25), ('Oranges', 4, 0.89), ('Bananas', 5, 1.5), ('Bananas', 5, 2.25), ('Bananas', 5, 0.89), ('Bananas', 3, 1.5), ('Bananas', 3, 2.25), ('Bananas', 3, 0.89), ('Bananas', 4, 1.5), ('Bananas', 4, 2.25), ('Bananas', 4, 0.89)]